.rex-input-primary{
	padding: 12px 16px;
	border: 0;
	border-radius: 6px;
	background-color: rgb(39, 39, 39);
	color:rgb(202, 202, 202)
}

.rex-input-primary:focus{
	border: 1px solid rgb(21, 173, 72);
	background-color: transparent;
}

.rex-input-secondary{
	padding: 12px 16px;
	border: 1px solid rgb(158, 122, 102);
	background-color: rgb(39, 39, 39);
	color: white;
	border-radius: 4px;
}

.rex-input-secondary:focus{
	border: 1px solid rgb(221, 141, 35);
	background-color: transparent;
}